VITE_SUPABASE_URL=https://zvrdgjynhgtywbgdpsnd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp2cmRnanluaGd0eXdiZ2Rwc25kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc0OTc0NTEsImV4cCI6MjEwMzA3MzQ1MX0.QOae5W3tti5A7vbADRmpd05f8pxNVHRahLEEuC3gYoE
